html, body{
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

input{
    width: 200px;
    font-size: 20px;
}

button {
    background: linear-gradient(45deg, red, #15ff0691);
    width: 25%;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #2a2a2a;

    margin-bottom: 4px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 20px;
}

button:hover {
    transition: 0.2s;
    transform: scale(1.1);
}
.title {
    text-align: center;
}
.calculator {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calc__settings {
    display: flex;
    width: 200px;
}

.calc_bcg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid; */
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.footer {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a2a2a;
    color: #fff;
    text-align: center;
}


@media screen and (max-width: 240px) {
    input {
        width: 150px;
    }
    button {
        width: 25%;
        height: 30px;
    }
    .calc__settings {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
    }
    .title {
        font-size: 20px;
    }
    .calc_bcg{
        width: 150px;
    }
}